<!DOCTYPE html>
{% load static %}


<html>
    <head>
        
        <meta charset="utf-8">
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'CSS/master.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">


  <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </head>
    <body>

 
  

   
    <!-- Page Wrap -->
<div id="parallax-world-of-ugg">
  
<section>
  <div class="title">
    <h1>“Be yourself; everyone else is already taken.” 
<br>― <strong>Oscar Wilde</strong></br></h1>
  </div>
</section>

<section>
    <div class="parallax-one">
      <h2>Parth Mehta</h2>
    </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character sc">I</span> am Parth Mehta as I mentioned earlier.I was born on 9th June,2000 in India.I was born and raised by middle class family.I completed my SSC in 2016 with distinction and scored massive 88% and was and till date the highest scorer of the family.After that I opted for science and completed my HSC in 2018 with 89%.Scoring 148 in MH-CET examination in 2018 ,I got admitted to D.J.Sanghvi college of Engineering</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">The true of my life began from there on.I opted for B.E in Information Technology.During the time of my 2nd Semester,I came to know the need of an hour.This is where I came across coding and discovered my true interest.And from there on ,I started learning programming and developing multiple skills.</p>
  </div>
</section>

<section>
  <div class="parallax-two">
    <h2>Skills:</h2>
  </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character ny">I</span>am currently in my 3rd year .I have learned the way how the practical life works and as a result I have trained myself in a way to be compatible and be ready for any challenge that the life throws at us.</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">I have am a Full Stack Web-Developer .I am an gold ranked contestant in algorithms on HackerRank.I have hands on experience in <italic><strong>Python,Java,C,C++</strong></italic>.The "Web Development" skills I know are <strong>HTML5,CSS,Bootstrap4,JS,PHP</strong>.I have done 2-3 projects on Django which is Python Framework.One of the is a social media site for space lovers.<a href="http://pnm9600.pythonanywhere.com/" target="_blank">You can view the site by clicking here</a>.Me and my team created a Hotel Management desktop app using Java.We also created another social media site using Django.</p>
  </div>
</section>

<section>
  <div class="parallax-three">
    <h4><center>Thinking is the hardest work there is, which is probably the reason so few engage in it. ~<strong> Henry Ford, American industrialist and founder of Ford Motor Co.</strong></center></h4>
  </div>
</section>

<section>
  <div class="block">
   
    <p class="margin-top-10">Apparently,I am doing several projects using skills which I have developed and always learning new skills.I am doing course on Machine Learning as well.My biggest dream is to do anything helpful for my country India which I will make it a reality for sure .If you liked my work ,please <a href="{% url 'sendmail' %}">click here</a> which will send an auto-generated mail to me.Thank You!!</p>
  </div>

  <footer>
<center><a href="https://github.com/Parth305Mehta"><span class="fa fa-github " style="font-size:36px"></span></a></center>
<center>Want to send a message? Mail me at <strong>mussalmittu@gmail.com</strong></center>
<center><h3 style="color:black">This site was made with <span class="fa fa-heart" style="font-size:18px;color:red"></span></h3></center>
  </footer>
</section>
  
</div>
    
    </body>
<script src="{% static 'JS/master.js' %}" type="text/javascript" ></script>
<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
</html>