<!DOCTYPE html>
{% load static %}
<html>
    <head>
        
        <meta charset="utf-8">
        <title>Blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       <link rel="stylesheet" href="{% static 'CSS/master2.css' %}">
    </head>
    <body>
    <center><h1>Sent!Thank you for your feedback.Have a nice day! </h1></center>
    <br></br>

  

  <center><a href="{% url 'base'%}" class="btn btn-danger">Click here to go to main page.</a></center>

    </body>

</html>